<a href="https://colab.research.google.com/github/Subhasrimax/Recommendation-System-Using-Apriori-Algorithm/blob/main/Recommendation_System_using_Apriori_algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing module
import pandas as pd
# dataset
data = pd.read_csv("Market_Basket_Optimisation (1).csv",header=None)
# printing the shape of the dataset
data.shape

(7501, 20)

In [ ]:
# printing the heading
data.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,whole wheat pasta,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,soup,light cream,shallot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,frozen vegetables,spaghetti,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
 1   1       5747 non-null   object
 2   2       4389 non-null   object
 3   3       3345 non-null   object
 4   4       2529 non-null   object
 5   5       1864 non-null   object
 6   6       1369 non-null   object
 7   7       981 non-null    object
 8   8       654 non-null    object
 9   9       395 non-null    object
 10  10      256 non-null    object
 11  11      154 non-null    object
 12  12      87 non-null     object
 13  13      47 non-null     object
 14  14      25 non-null     object
 15  15      8 non-null      object
 16  16      4 non-null      object
 17  17      4 non-null      object
 18  18      3 non-null      object
 19  19      1 non-null      object
dtypes: object(20)
memory usage: 1.1+ MB

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = data.head(1000)

In [ ]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
995,ground beef,mineral water,milk,eggs,mint,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,shrimp,body spray,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,frozen smoothie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,herb & pepper,frozen vegetables,mineral water,muffins,cereals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,turkey,tomatoes,spaghetti,milk,cider,eggs,honey,cake,green tea,french fries,brownies,tomato juice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
transaction = []
for i in range(0, df.shape[0]):
    for j in range(0, df.shape[1]):
        transaction.append(df.values[i,j])

# converting to numpy array
transaction = np.array(transaction)

#  Transform Them a Pandas DataFrame
df1 = pd.DataFrame(transaction, columns=["items"])

# Put 1 to Each Item For Making Countable Table, to be able to perform Group By
df1["incident_count"] = 1

#  Delete NaN Items from Dataset
indexNames = df1[df1['items'] == "nan" ].index
df1.drop(indexNames , inplace=True)

# Making a New Appropriate Pandas DataFrame for Visualizations
df_table = df1.groupby("items").sum().sort_values("incident_count", ascending=False).reset_index()

In [ ]:
#  Initial Visualizations
df_table.head(10).style.background_gradient(cmap='Greens')

In [ ]:
df_table.tail(10)

               items  incident_count
109          bramble               3
110  chocolate bread               3
111        flax seed               2
112     dessert wine               2
113      water spray               2
114          ketchup               2
115          oatmeal               1
116            cream               1
117          napkins               1
118        asparagus               1

In [ ]:
len(df_table)

119

In [ ]:
# importing required module
import plotly.express as px

In [ ]:
# to have a same origin
df_table["all"] = "all"

In [ ]:
# creating tree map using plotly
fig = px.treemap(df_table.head(30), path=['all', "items"], values='incident_count',
                  color=df_table["incident_count"].head(30), hover_data=['items'],
                  color_continuous_scale='Greens',
                )

In [ ]:
# ploting the treemap
fig.show()

In [ ]:
transaction = []
for i in range(df.shape[0]):
  transaction.append([str(df.values[i,j]) for j in range(df.shape[1])])
transaction = np.array(transaction)
transaction

array([['shrimp', 'almonds', 'avocado', ..., 'frozen smoothie',
        'spinach', 'olive oil'],
       ['burgers', 'meatballs', 'eggs', ..., 'nan', 'nan', 'nan'],
       ['chutney', 'nan', 'nan', ..., 'nan', 'nan', 'nan'],
       ...,
       ['frozen smoothie', 'nan', 'nan', ..., 'nan', 'nan', 'nan'],
       ['herb & pepper', 'frozen vegetables', 'mineral water', ...,
        'nan', 'nan', 'nan'],
       ['turkey', 'tomatoes', 'spaghetti', ..., 'nan', 'nan', 'nan']],
      dtype='<U20')

In [ ]:
# importing the required module
from mlxtend.preprocessing import TransactionEncoder
# initializing the transactionEncoder
te = TransactionEncoder()
te_ary = te.fit(transaction).transform(transaction)
dataset = pd.DataFrame(te_ary, columns=te.columns_)
# dataset after encoded
dataset

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False

In [ ]:
# select top 50 items
first50 = df_table["items"].head(50).values #Select top50
dataset1 = dataset.loc[:,first50] #Extract top50
dataset1

,mineral water,eggs,chocolate,spaghetti,french fries,green tea,milk,ground beef,frozen vegetables,pancakes,...,oil,yams,almonds,pasta,fresh tuna,energy drink,light mayo,protein bar,strawberries,rice
0,True,False,False,False,False,True,False,False,False,False,...,False,True,True,False,False,True,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,True,True,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
998,True,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
999,False,True,False,True,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
first50

array(['mineral water', 'eggs', 'chocolate', 'spaghetti', 'french fries',
       'green tea', 'milk', 'ground beef', 'frozen vegetables',
       'pancakes', 'shrimp', 'low fat yogurt', 'escalope', 'burgers',
       'turkey', 'cookies', 'olive oil', 'cake', 'soup', 'herb & pepper',
       'chicken', 'frozen smoothie', 'cooking oil', 'grated cheese',
       'whole wheat rice', 'champagne', 'honey', 'tomato juice', 'salmon',
       'tomatoes', 'butter', 'whole wheat pasta', 'fresh bread',
       'avocado', 'red wine', 'hot dogs', 'parmesan cheese', 'energy bar',
       'pepper', 'muffins', 'oil', 'yams', 'almonds', 'pasta',
       'fresh tuna', 'energy drink', 'light mayo', 'protein bar',
       'strawberries', 'rice'], dtype=object)

In [ ]:
dataset1.columns
#we extracted first50 column successfully

Index(['mineral water', 'eggs', 'chocolate', 'spaghetti', 'french fries',
       'green tea', 'milk', 'ground beef', 'frozen vegetables', 'pancakes',
       'shrimp', 'low fat yogurt', 'escalope', 'burgers', 'turkey', 'cookies',
       'olive oil', 'cake', 'soup', 'herb & pepper', 'chicken',
       'frozen smoothie', 'cooking oil', 'grated cheese', 'whole wheat rice',
       'champagne', 'honey', 'tomato juice', 'salmon', 'tomatoes', 'butter',
       'whole wheat pasta', 'fresh bread', 'avocado', 'red wine', 'hot dogs',
       'parmesan cheese', 'energy bar', 'pepper', 'muffins', 'oil', 'yams',
       'almonds', 'pasta', 'fresh tuna', 'energy drink', 'light mayo',
       'protein bar', 'strawberries', 'rice'],
      dtype='object')

In [ ]:
#convert dataset into 1-0 encoding

def encode_units(x):
  if x == False:
    return 0;
  if x == True:
    return 1

dataset1 = dataset1.applymap(encode_units)
dataset1.head(10)

,mineral water,eggs,chocolate,spaghetti,french fries,green tea,milk,ground beef,frozen vegetables,pancakes,...,oil,yams,almonds,pasta,fresh tuna,energy drink,light mayo,protein bar,strawberries,rice
0,1,0,0,0,0,1,0,0,0,0,...,0,1,1,0,0,1,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# importing the required module
from mlxtend.frequent_patterns import apriori, association_rules

# Extracting the most frequest itemsets via Mlxtend.
# The length column has been added to increase ease of filtering.
frequent_itemsets = apriori(dataset1, min_support=0.01, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
# printing the frequent itemset
frequent_itemsets

     support                              itemsets  length
0      0.245                       (mineral water)       1
1      0.207                                (eggs)       1
2      0.188                           (chocolate)       1
3      0.185                           (spaghetti)       1
4      0.159                        (french fries)       1
..       ...                                   ...     ...
314    0.010       (french fries, milk, chocolate)       3
315    0.013  (frozen vegetables, milk, chocolate)       3
316    0.010               (soup, milk, chocolate)       3
317    0.010  (frozen vegetables, spaghetti, milk)       3
318    0.010         (milk, french fries, burgers)       3

[319 rows x 3 columns]

In [ ]:
# printing the frequntly items
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.05) ]

     support                    itemsets  length
50     0.060       (mineral water, eggs)       2
51     0.059  (mineral water, chocolate)       2
52     0.058  (mineral water, spaghetti)       2
115    0.050      (spaghetti, chocolate)       2

In [ ]:
# printing the frequntly items with length 3
frequent_itemsets[ (frequent_itemsets['length'] == 3) ].head(3)

     support                          itemsets  length
272    0.014  (mineral water, eggs, chocolate)       3
273    0.017  (mineral water, eggs, spaghetti)       3
274    0.016       (mineral water, eggs, milk)       3

In [ ]:
#  We set our metric as "Lift" to define whether antecedents & consequents are dependent our not
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(mineral water),(chocolate),0.245,0.188,0.059,0.240816,1.280938,0.012940,1.069570
1,(chocolate),(mineral water),0.188,0.245,0.059,0.313830,1.280938,0.012940,1.100310
2,(mineral water),(spaghetti),0.245,0.185,0.058,0.236735,1.279647,0.012675,1.067781
3,(spaghetti),(mineral water),0.185,0.245,0.058,0.313514,1.279647,0.012675,1.099803
4,(mineral water),(milk),0.245,0.136,0.047,0.191837,1.410564,0.013680,1.069091
...,...,...,...,...,...,...,...,...,...
607,"(milk, burgers)",(french fries),0.021,0.159,0.010,0.476190,2.994909,0.006661,1.605545
608,"(french fries, burgers)",(milk),0.019,0.136,0.010,0.526316,3.869969,0.007416,1.824000
609,(milk),"(french fries, burgers)",0.136,0.019,0.010,0.073529,3.869969,0.007416,1.058857
610,(french fries),"(milk, burgers)",0.159,0.021,0.010,0.062893,2.994909,0.006661,1.044705
611,(burgers),"(milk, french fries)",0.080,0.025,0.010,0.125000,5.000000,0.008000,1.114286

In [ ]:
rules["antecedents_length"] = rules["antecedents"].apply(lambda x: len(x))
rules["consequents_length"] = rules["consequents"].apply(lambda x: len(x))
rules.sort_values("lift",ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
310,(shrimp),(pasta),0.083,0.026,0.021,0.253012,9.731233,0.018842,1.303903,1,1
311,(pasta),(shrimp),0.026,0.083,0.021,0.807692,9.731233,0.018842,4.768400,1,1
335,(whole wheat pasta),(olive oil),0.036,0.076,0.015,0.416667,5.482456,0.012264,1.584000,1,1
334,(olive oil),(whole wheat pasta),0.076,0.036,0.015,0.197368,5.482456,0.012264,1.201049,1,1
611,(burgers),"(milk, french fries)",0.080,0.025,0.010,0.125000,5.000000,0.008000,1.114286,1,2
...,...,...,...,...,...,...,...,...,...,...,...
397,"(chocolate, french fries)",(mineral water),0.037,0.245,0.011,0.297297,1.213458,0.001935,1.074423,2,1
120,(honey),(chocolate),0.044,0.188,0.010,0.227273,1.208897,0.001728,1.050824,1,1
121,(chocolate),(honey),0.188,0.044,0.010,0.053191,1.208897,0.001728,1.009708,1,1
110,(frozen smoothie),(chocolate),0.062,0.188,0.014,0.225806,1.201098,0.002344,1.048833,1,1
111,(chocolate),(frozen smoothie),0.188,0.062,0.014,0.074468,1.201098,0.002344,1.013471,1,1

In [ ]:
# Sort values based on confidence
rules.sort_values("confidence",ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
311,(pasta),(shrimp),0.026,0.083,0.021,0.807692,9.731233,0.018842,4.768400,1,1
520,"(frozen vegetables, olive oil)",(mineral water),0.013,0.245,0.010,0.769231,3.139717,0.006815,3.271667,2,1
526,"(soup, olive oil)",(mineral water),0.015,0.245,0.011,0.733333,2.993197,0.007325,2.831250,2,1
386,"(eggs, cooking oil)",(mineral water),0.015,0.245,0.011,0.733333,2.993197,0.007325,2.831250,2,1
426,"(soup, chocolate)",(mineral water),0.020,0.245,0.012,0.600000,2.448980,0.007100,1.887500,2,1
...,...,...,...,...,...,...,...,...,...,...,...
449,(mineral water),"(frozen vegetables, spaghetti)",0.245,0.032,0.010,0.040816,1.275510,0.002160,1.009191,1,2
497,(mineral water),"(milk, burgers)",0.245,0.021,0.010,0.040816,1.943635,0.004855,1.020660,1,2
491,(mineral water),"(shrimp, milk)",0.245,0.021,0.010,0.040816,1.943635,0.004855,1.020660,1,2
381,(mineral water),"(eggs, herb & pepper)",0.245,0.025,0.010,0.040816,1.632653,0.003875,1.016489,1,2
60,(mineral water),(protein bar),0.245,0.024,0.010,0.040816,1.700680,0.004120,1.017532,1,1

In [ ]:
from efficient_apriori import apriori # for association analysis

In [ ]:
!pip install efficient_apriori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting efficient_apriori
  Downloading efficient_apriori-2.0.3-py3-none-any.whl (14 kB)
Installing collected packages: efficient_apriori
Successfully installed efficient_apriori-2.0.3

In [ ]:
itemsets, rules = apriori(transaction, min_support=0.03, min_confidence=0.2, verbosity=1)

Generating itemsets.
 Counting itemsets of length 1.
  Found 121 candidate itemsets of length 1.
  Found 40 large itemsets of length 1.
 Counting itemsets of length 2.
  Found 780 candidate itemsets of length 2.
  Found 63 large itemsets of length 2.
 Counting itemsets of length 3.
  Found 40 candidate itemsets of length 3.
  Found 23 large itemsets of length 3.
 Counting itemsets of length 4.
  Found 0 candidate itemsets of length 4.
Itemset generation terminated.

Generating rules from itemsets.
 Generating rules of size 2.
 Generating rules of size 3.
Rule generation terminated.

In [ ]:
itemsets

{1: {('shrimp',): 83,
  ('avocado',): 35,
  ('tomato juice',): 43,
  ('low fat yogurt',): 83,
  ('green tea',): 141,
  ('honey',): 44,
  ('mineral water',): 245,
  ('salmon',): 42,
  ('frozen smoothie',): 62,
  ('olive oil',): 76,
  ('burgers',): 80,
  ('eggs',): 207,
  ('nan',): 999,
  ('turkey',): 79,
  ('milk',): 136,
  ('energy bar',): 32,
  ('whole wheat rice',): 50,
  ('whole wheat pasta',): 36,
  ('french fries',): 159,
  ('soup',): 73,
  ('frozen vegetables',): 95,
  ('spaghetti',): 185,
  ('cookies',): 78,
  ('cooking oil',): 55,
  ('champagne',): 49,
  ('chocolate',): 188,
  ('chicken',): 67,
  ('tomatoes',): 41,
  ('red wine',): 33,
  ('pepper',): 32,
  ('pancakes',): 84,
  ('grated cheese',): 51,
  ('parmesan cheese',): 33,
  ('fresh bread',): 36,
  ('ground beef',): 98,
  ('escalope',): 82,
  ('herb & pepper',): 68,
  ('cake',): 76,
  ('hot dogs',): 33,
  ('butter',): 38},
 2: {('avocado', 'nan'): 34,
  ('burgers', 'eggs'): 34,
  ('burgers', 'nan'): 80,
  ('butter', 'nan'): 38,
  ('cake', 'nan'): 76,
  ('champagne', 'nan'): 49,
  ('chicken', 'nan'): 67,
  ('chocolate', 'eggs'): 42,
  ('chocolate', 'french fries'): 37,
  ('chocolate', 'milk'): 46,
  ('chocolate', 'mineral water'): 59,
  ('chocolate', 'nan'): 188,
  ('chocolate', 'spaghetti'): 50,
  ('cookies', 'nan'): 78,
  ('cooking oil', 'nan'): 55,
  ('eggs', 'french fries'): 40,
  ('eggs', 'green tea'): 30,
  ('eggs', 'milk'): 35,
  ('eggs', 'mineral water'): 60,
  ('eggs', 'nan'): 207,
  ('eggs', 'spaghetti'): 38,
  ('eggs', 'turkey'): 35,
  ('energy bar', 'nan'): 32,
  ('escalope', 'nan'): 82,
  ('french fries', 'nan'): 159,
  ('french fries', 'spaghetti'): 32,
  ('fresh bread', 'nan'): 36,
  ('frozen smoothie', 'nan'): 61,
  ('frozen vegetables', 'mineral water'): 35,
  ('frozen vegetables', 'nan'): 95,
  ('frozen vegetables', 'spaghetti'): 32,
  ('grated cheese', 'nan'): 51,
  ('green tea', 'mineral water'): 34,
  ('green tea', 'nan'): 140,
  ('ground beef', 'mineral water'): 37,
  ('ground beef', 'nan'): 98,
  ('ground beef', 'spaghetti'): 35,
  ('herb & pepper', 'nan'): 68,
  ('honey', 'nan'): 43,
  ('hot dogs', 'nan'): 33,
  ('low fat yogurt', 'nan'): 82,
  ('milk', 'mineral water'): 47,
  ('milk', 'nan'): 136,
  ('milk', 'spaghetti'): 45,
  ('mineral water', 'nan'): 244,
  ('mineral water', 'olive oil'): 35,
  ('mineral water', 'shrimp'): 30,
  ('mineral water', 'soup'): 31,
  ('mineral water', 'spaghetti'): 58,
  ('nan', 'olive oil'): 75,
  ('nan', 'pancakes'): 84,
  ('nan', 'parmesan cheese'): 33,
  ('nan', 'pepper'): 32,
  ('nan', 'red wine'): 33,
  ('nan', 'salmon'): 41,
  ('nan', 'shrimp'): 82,
  ('nan', 'soup'): 73,
  ('nan', 'spaghetti'): 185,
  ('nan', 'tomato juice'): 42,
  ('nan', 'tomatoes'): 41,
  ('nan', 'turkey'): 79,
  ('nan', 'whole wheat pasta'): 36,
  ('nan', 'whole wheat rice'): 50},
 3: {('burgers', 'eggs', 'nan'): 34,
  ('chocolate', 'eggs', 'nan'): 42,
  ('chocolate', 'french fries', 'nan'): 37,
  ('chocolate', 'milk', 'nan'): 46,
  ('chocolate', 'mineral water', 'nan'): 59,
  ('chocolate', 'nan', 'spaghetti'): 50,
  ('eggs', 'french fries', 'nan'): 40,
  ('eggs', 'green tea', 'nan'): 30,
  ('eggs', 'milk', 'nan'): 35,
  ('eggs', 'mineral water', 'nan'): 60,
  ('eggs', 'nan', 'spaghetti'): 38,
  ('eggs', 'nan', 'turkey'): 35,
  ('french fries', 'nan', 'spaghetti'): 32,
  ('frozen vegetables', 'mineral water', 'nan'): 35,
  ('frozen vegetables', 'nan', 'spaghetti'): 32,
  ('green tea', 'mineral water', 'nan'): 33,
  ('ground beef', 'mineral water', 'nan'): 37,
  ('ground beef', 'nan', 'spaghetti'): 35,
  ('milk', 'mineral water', 'nan'): 47,
  ('milk', 'nan', 'spaghetti'): 45,
  ('mineral water', 'nan', 'olive oil'): 34,
  ('mineral water', 'nan', 'soup'): 31,
  ('mineral water', 'nan', 'spaghetti'): 58}}

In [ ]:
for item in sorted(rules, key=lambda item: (item.lift,item.conviction), reverse=True):
    print(item)

{turkey} -> {eggs} (conf: 0.443, supp: 0.035, lift: 2.140, conv: 1.424)
{nan, turkey} -> {eggs} (conf: 0.443, supp: 0.035, lift: 2.140, conv: 1.424)
{turkey} -> {eggs, nan} (conf: 0.443, supp: 0.035, lift: 2.140, conv: 1.424)
{burgers} -> {eggs} (conf: 0.425, supp: 0.034, lift: 2.053, conv: 1.379)
{burgers, nan} -> {eggs} (conf: 0.425, supp: 0.034, lift: 2.053, conv: 1.379)
{burgers} -> {eggs, nan} (conf: 0.425, supp: 0.034, lift: 2.053, conv: 1.379)
{ground beef} -> {spaghetti} (conf: 0.357, supp: 0.035, lift: 1.931, conv: 1.268)
{ground beef, nan} -> {spaghetti} (conf: 0.357, supp: 0.035, lift: 1.931, conv: 1.268)
{ground beef} -> {nan, spaghetti} (conf: 0.357, supp: 0.035, lift: 1.931, conv: 1.268)
{olive oil} -> {mineral water} (conf: 0.461, supp: 0.035, lift: 1.880, conv: 1.400)
{nan, olive oil} -> {mineral water} (conf: 0.453, supp: 0.034, lift: 1.850, conv: 1.381)
{olive oil} -> {mineral water, nan} (conf: 0.447, supp: 0.034, lift: 1.833, conv: 1.368)
{frozen vegetables} -> {spaghetti} (conf: 0.337, supp: 0.032, lift: 1.821, conv: 1.229)
{frozen vegetables, nan} -> {spaghetti} (conf: 0.337, supp: 0.032, lift: 1.821, conv: 1.229)
{frozen vegetables} -> {nan, spaghetti} (conf: 0.337, supp: 0.032, lift: 1.821, conv: 1.229)
{milk} -> {chocolate} (conf: 0.338, supp: 0.046, lift: 1.799, conv: 1.227)
{milk, nan} -> {chocolate} (conf: 0.338, supp: 0.046, lift: 1.799, conv: 1.227)
{milk} -> {chocolate, nan} (conf: 0.338, supp: 0.046, lift: 1.799, conv: 1.227)
{chocolate} -> {milk} (conf: 0.245, supp: 0.046, lift: 1.799, conv: 1.144)
{chocolate, nan} -> {milk} (conf: 0.245, supp: 0.046, lift: 1.799, conv: 1.144)
{chocolate} -> {milk, nan} (conf: 0.245, supp: 0.046, lift: 1.799, conv: 1.144)
{milk} -> {spaghetti} (conf: 0.331, supp: 0.045, lift: 1.789, conv: 1.218)
{milk, nan} -> {spaghetti} (conf: 0.331, supp: 0.045, lift: 1.789, conv: 1.218)
{milk} -> {nan, spaghetti} (conf: 0.331, supp: 0.045, lift: 1.789, conv: 1.218)
{spaghetti} -> {milk} (conf: 0.243, supp: 0.045, lift: 1.789, conv: 1.142)
{nan, spaghetti} -> {milk} (conf: 0.243, supp: 0.045, lift: 1.789, conv: 1.142)
{spaghetti} -> {milk, nan} (conf: 0.243, supp: 0.045, lift: 1.789, conv: 1.142)
{soup} -> {mineral water, nan} (conf: 0.425, supp: 0.031, lift: 1.740, conv: 1.314)
{soup} -> {mineral water} (conf: 0.425, supp: 0.031, lift: 1.733, conv: 1.312)
{nan, soup} -> {mineral water} (conf: 0.425, supp: 0.031, lift: 1.733, conv: 1.312)
{ground beef} -> {mineral water, nan} (conf: 0.378, supp: 0.037, lift: 1.547, conv: 1.215)
{ground beef} -> {mineral water} (conf: 0.378, supp: 0.037, lift: 1.541, conv: 1.213)
{ground beef, nan} -> {mineral water} (conf: 0.378, supp: 0.037, lift: 1.541, conv: 1.213)
{frozen vegetables} -> {mineral water, nan} (conf: 0.368, supp: 0.035, lift: 1.510, conv: 1.197)
{frozen vegetables} -> {mineral water} (conf: 0.368, supp: 0.035, lift: 1.504, conv: 1.195)
{frozen vegetables, nan} -> {mineral water} (conf: 0.368, supp: 0.035, lift: 1.504, conv: 1.195)
{shrimp} -> {mineral water} (conf: 0.361, supp: 0.030, lift: 1.475, conv: 1.182)
{spaghetti} -> {chocolate} (conf: 0.270, supp: 0.050, lift: 1.438, conv: 1.113)
{nan, spaghetti} -> {chocolate} (conf: 0.270, supp: 0.050, lift: 1.438, conv: 1.113)
{spaghetti} -> {chocolate, nan} (conf: 0.270, supp: 0.050, lift: 1.438, conv: 1.113)
{chocolate} -> {spaghetti} (conf: 0.266, supp: 0.050, lift: 1.438, conv: 1.110)
{chocolate, nan} -> {spaghetti} (conf: 0.266, supp: 0.050, lift: 1.438, conv: 1.110)
{chocolate} -> {nan, spaghetti} (conf: 0.266, supp: 0.050, lift: 1.438, conv: 1.110)
{milk} -> {mineral water, nan} (conf: 0.346, supp: 0.047, lift: 1.416, conv: 1.155)
{milk} -> {mineral water} (conf: 0.346, supp: 0.047, lift: 1.411, conv: 1.154)
{milk, nan} -> {mineral water} (conf: 0.346, supp: 0.047, lift: 1.411, conv: 1.154)
{chocolate} -> {mineral water, nan} (conf: 0.314, supp: 0.059, lift: 1.286, conv: 1.102)
{mineral water, nan} -> {chocolate} (conf: 0.242, supp: 0.059, lift: 1.286, conv: 1.071)
{spaghetti} -> {mineral water, nan} (conf: 0.314, supp: 0.058, lift: 1.285, conv: 1.101)
{mineral water, nan} -> {spaghetti} (conf: 0.238, supp: 0.058, lift: 1.285, conv: 1.069)
{chocolate} -> {mineral water} (conf: 0.314, supp: 0.059, lift: 1.281, conv: 1.100)
{chocolate, nan} -> {mineral water} (conf: 0.314, supp: 0.059, lift: 1.281, conv: 1.100)
{mineral water} -> {chocolate} (conf: 0.241, supp: 0.059, lift: 1.281, conv: 1.070)
{mineral water} -> {chocolate, nan} (conf: 0.241, supp: 0.059, lift: 1.281, conv: 1.070)
{spaghetti} -> {mineral water} (conf: 0.314, supp: 0.058, lift: 1.280, conv: 1.100)
{nan, spaghetti} -> {mineral water} (conf: 0.314, supp: 0.058, lift: 1.280, conv: 1.100)
{mineral water} -> {spaghetti} (conf: 0.237, supp: 0.058, lift: 1.280, conv: 1.068)
{mineral water} -> {nan, spaghetti} (conf: 0.237, supp: 0.058, lift: 1.280, conv: 1.068)
{milk} -> {eggs} (conf: 0.257, supp: 0.035, lift: 1.243, conv: 1.068)
{milk, nan} -> {eggs} (conf: 0.257, supp: 0.035, lift: 1.243, conv: 1.068)
{milk} -> {eggs, nan} (conf: 0.257, supp: 0.035, lift: 1.243, conv: 1.068)
{french fries} -> {chocolate} (conf: 0.233, supp: 0.037, lift: 1.238, conv: 1.058)
{french fries, nan} -> {chocolate} (conf: 0.233, supp: 0.037, lift: 1.238, conv: 1.058)
{french fries} -> {chocolate, nan} (conf: 0.233, supp: 0.037, lift: 1.238, conv: 1.058)
{french fries} -> {eggs} (conf: 0.252, supp: 0.040, lift: 1.215, conv: 1.060)
{french fries, nan} -> {eggs} (conf: 0.252, supp: 0.040, lift: 1.215, conv: 1.060)
{french fries} -> {eggs, nan} (conf: 0.252, supp: 0.040, lift: 1.215, conv: 1.060)
{eggs} -> {mineral water, nan} (conf: 0.290, supp: 0.060, lift: 1.188, conv: 1.065)
{mineral water, nan} -> {eggs} (conf: 0.246, supp: 0.060, lift: 1.188, conv: 1.052)
{eggs} -> {mineral water} (conf: 0.290, supp: 0.060, lift: 1.183, conv: 1.063)
{eggs, nan} -> {mineral water} (conf: 0.290, supp: 0.060, lift: 1.183, conv: 1.063)
{mineral water} -> {eggs} (conf: 0.245, supp: 0.060, lift: 1.183, conv: 1.050)
{mineral water} -> {eggs, nan} (conf: 0.245, supp: 0.060, lift: 1.183, conv: 1.050)
{french fries} -> {spaghetti} (conf: 0.201, supp: 0.032, lift: 1.088, conv: 1.020)
{french fries, nan} -> {spaghetti} (conf: 0.201, supp: 0.032, lift: 1.088, conv: 1.020)
{french fries} -> {nan, spaghetti} (conf: 0.201, supp: 0.032, lift: 1.088, conv: 1.020)
{chocolate} -> {eggs} (conf: 0.223, supp: 0.042, lift: 1.079, conv: 1.021)
{chocolate, nan} -> {eggs} (conf: 0.223, supp: 0.042, lift: 1.079, conv: 1.021)
{chocolate} -> {eggs, nan} (conf: 0.223, supp: 0.042, lift: 1.079, conv: 1.021)
{eggs} -> {chocolate} (conf: 0.203, supp: 0.042, lift: 1.079, conv: 1.019)
{eggs, nan} -> {chocolate} (conf: 0.203, supp: 0.042, lift: 1.079, conv: 1.019)
{eggs} -> {chocolate, nan} (conf: 0.203, supp: 0.042, lift: 1.079, conv: 1.019)
{green tea, nan} -> {eggs} (conf: 0.214, supp: 0.030, lift: 1.035, conv: 1.009)
{green tea} -> {eggs} (conf: 0.213, supp: 0.030, lift: 1.028, conv: 1.007)
{green tea} -> {eggs, nan} (conf: 0.213, supp: 0.030, lift: 1.028, conv: 1.007)
{champagne} -> {nan} (conf: 1.000, supp: 0.049, lift: 1.001, conv: 1000000.000)
{cooking oil} -> {nan} (conf: 1.000, supp: 0.055, lift: 1.001, conv: 1000000.000)
{escalope} -> {nan} (conf: 1.000, supp: 0.082, lift: 1.001, conv: 1000000.000)
{frozen vegetables} -> {nan} (conf: 1.000, supp: 0.095, lift: 1.001, conv: 1000000.000)
{ground beef} -> {nan} (conf: 1.000, supp: 0.098, lift: 1.001, conv: 1000000.000)
{herb & pepper} -> {nan} (conf: 1.000, supp: 0.068, lift: 1.001, conv: 1000000.000)
{milk} -> {nan} (conf: 1.000, supp: 0.136, lift: 1.001, conv: 1000000.000)
{pancakes} -> {nan} (conf: 1.000, supp: 0.084, lift: 1.001, conv: 1000000.000)
{tomatoes} -> {nan} (conf: 1.000, supp: 0.041, lift: 1.001, conv: 1000000.000)
{whole wheat rice} -> {nan} (conf: 1.000, supp: 0.050, lift: 1.001, conv: 1000000.000)
{burgers, eggs} -> {nan} (conf: 1.000, supp: 0.034, lift: 1.001, conv: 1000000.000)
{chocolate, eggs} -> {nan} (conf: 1.000, supp: 0.042, lift: 1.001, conv: 1000000.000)
{chocolate, spaghetti} -> {nan} (conf: 1.000, supp: 0.050, lift: 1.001, conv: 1000000.000)
{eggs, milk} -> {nan} (conf: 1.000, supp: 0.035, lift: 1.001, conv: 1000000.000)
{eggs, turkey} -> {nan} (conf: 1.000, supp: 0.035, lift: 1.001, conv: 1000000.000)
{frozen vegetables, mineral water} -> {nan} (conf: 1.000, supp: 0.035, lift: 1.001, conv: 1000000.000)
{ground beef, spaghetti} -> {nan} (conf: 1.000, supp: 0.035, lift: 1.001, conv: 1000000.000)
{mineral water, soup} -> {nan} (conf: 1.000, supp: 0.031, lift: 1.001, conv: 1000000.000)
{mineral water, spaghetti} -> {nan} (conf: 1.000, supp: 0.058, lift: 1.001, conv: 1000000.000)
{burgers} -> {nan} (conf: 1.000, supp: 0.080, lift: 1.001, conv: 1000000.000)
{butter} -> {nan} (conf: 1.000, supp: 0.038, lift: 1.001, conv: 1000000.000)
{cake} -> {nan} (conf: 1.000, supp: 0.076, lift: 1.001, conv: 1000000.000)
{chicken} -> {nan} (conf: 1.000, supp: 0.067, lift: 1.001, conv: 1000000.000)
{chocolate} -> {nan} (conf: 1.000, supp: 0.188, lift: 1.001, conv: 1000000.000)
{cookies} -> {nan} (conf: 1.000, supp: 0.078, lift: 1.001, conv: 1000000.000)
{eggs} -> {nan} (conf: 1.000, supp: 0.207, lift: 1.001, conv: 1000000.000)
{energy bar} -> {nan} (conf: 1.000, supp: 0.032, lift: 1.001, conv: 1000000.000)
{french fries} -> {nan} (conf: 1.000, supp: 0.159, lift: 1.001, conv: 1000000.000)
{fresh bread} -> {nan} (conf: 1.000, supp: 0.036, lift: 1.001, conv: 1000000.000)
{grated cheese} -> {nan} (conf: 1.000, supp: 0.051, lift: 1.001, conv: 1000000.000)
{hot dogs} -> {nan} (conf: 1.000, supp: 0.033, lift: 1.001, conv: 1000000.000)
{parmesan cheese} -> {nan} (conf: 1.000, supp: 0.033, lift: 1.001, conv: 1000000.000)
{pepper} -> {nan} (conf: 1.000, supp: 0.032, lift: 1.001, conv: 1000000.000)
{red wine} -> {nan} (conf: 1.000, supp: 0.033, lift: 1.001, conv: 1000000.000)
{soup} -> {nan} (conf: 1.000, supp: 0.073, lift: 1.001, conv: 1000000.000)
{spaghetti} -> {nan} (conf: 1.000, supp: 0.185, lift: 1.001, conv: 1000000.000)
{turkey} -> {nan} (conf: 1.000, supp: 0.079, lift: 1.001, conv: 1000000.000)
{whole wheat pasta} -> {nan} (conf: 1.000, supp: 0.036, lift: 1.001, conv: 1000000.000)
{chocolate, french fries} -> {nan} (conf: 1.000, supp: 0.037, lift: 1.001, conv: 1000000.000)
{chocolate, milk} -> {nan} (conf: 1.000, supp: 0.046, lift: 1.001, conv: 1000000.000)
{chocolate, mineral water} -> {nan} (conf: 1.000, supp: 0.059, lift: 1.001, conv: 1000000.000)
{eggs, french fries} -> {nan} (conf: 1.000, supp: 0.040, lift: 1.001, conv: 1000000.000)
{eggs, green tea} -> {nan} (conf: 1.000, supp: 0.030, lift: 1.001, conv: 1000000.000)
{eggs, mineral water} -> {nan} (conf: 1.000, supp: 0.060, lift: 1.001, conv: 1000000.000)
{eggs, spaghetti} -> {nan} (conf: 1.000, supp: 0.038, lift: 1.001, conv: 1000000.000)
{french fries, spaghetti} -> {nan} (conf: 1.000, supp: 0.032, lift: 1.001, conv: 1000000.000)
{frozen vegetables, spaghetti} -> {nan} (conf: 1.000, supp: 0.032, lift: 1.001, conv: 1000000.000)
{ground beef, mineral water} -> {nan} (conf: 1.000, supp: 0.037, lift: 1.001, conv: 1000000.000)
{milk, mineral water} -> {nan} (conf: 1.000, supp: 0.047, lift: 1.001, conv: 1000000.000)
{milk, spaghetti} -> {nan} (conf: 1.000, supp: 0.045, lift: 1.001, conv: 1000000.000)
{nan} -> {eggs} (conf: 0.207, supp: 0.207, lift: 1.001, conv: 1.000)
{nan} -> {mineral water} (conf: 0.244, supp: 0.244, lift: 0.997, conv: 0.999)
{mineral water} -> {nan} (conf: 0.996, supp: 0.244, lift: 0.997, conv: 0.245)
{green tea} -> {nan} (conf: 0.993, supp: 0.140, lift: 0.994, conv: 0.141)
{spaghetti} -> {eggs} (conf: 0.205, supp: 0.038, lift: 0.992, conv: 0.998)
{nan, spaghetti} -> {eggs} (conf: 0.205, supp: 0.038, lift: 0.992, conv: 0.998)
{spaghetti} -> {eggs, nan} (conf: 0.205, supp: 0.038, lift: 0.992, conv: 0.998)
{low fat yogurt} -> {nan} (conf: 0.988, supp: 0.082, lift: 0.989, conv: 0.083)
{shrimp} -> {nan} (conf: 0.988, supp: 0.082, lift: 0.989, conv: 0.083)
{olive oil} -> {nan} (conf: 0.987, supp: 0.075, lift: 0.988, conv: 0.076)
{frozen smoothie} -> {nan} (conf: 0.984, supp: 0.061, lift: 0.985, conv: 0.062)
{green tea} -> {mineral water} (conf: 0.241, supp: 0.034, lift: 0.984, conv: 0.995)
{honey} -> {nan} (conf: 0.977, supp: 0.043, lift: 0.978, conv: 0.044)
{tomato juice} -> {nan} (conf: 0.977, supp: 0.042, lift: 0.978, conv: 0.043)
{salmon} -> {nan} (conf: 0.976, supp: 0.041, lift: 0.977, conv: 0.042)
{avocado} -> {nan} (conf: 0.971, supp: 0.034, lift: 0.972, conv: 0.035)
{mineral water, olive oil} -> {nan} (conf: 0.971, supp: 0.034, lift: 0.972, conv: 0.035)
{green tea, mineral water} -> {nan} (conf: 0.971, supp: 0.033, lift: 0.972, conv: 0.034)
{green tea, nan} -> {mineral water} (conf: 0.236, supp: 0.033, lift: 0.962, conv: 0.988)
{green tea} -> {mineral water, nan} (conf: 0.234, supp: 0.033, lift: 0.959, conv: 0.987)